.projectSection{
    min-height: 100vh;
    min-width: 100%;
    background: var(--color-bg-dark);
}

.projectTitle{
    text-align: center;
    font-size: var(--text-3xl);
    margin-bottom: var(--space-xl);
    color: var(--color-text-secondary);
}

.projectGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.techStack{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px 20px;
}

@media (max-width:768px){

    .projectSection{
        padding: 4rem 1rem;
    }

    .projectGrid{
        margin: 0;
        border-radius: 20px;
    }

    .prjectMedia{
        height: 180px;
        /* padding: 20px; */
    }
}
